@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #f97316;
  --primary-hover: #ea580c;
}

body {
  @apply bg-gray-50;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}